{% trans_default_domain 'FOSUserBundle' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Administrator</title>

    {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
        'bundles/silvestraadmin/css/bootstrap.min.css'
        'bundles/silvestraadmin/font-awesome/css/font-awesome.css'
        'bundles/silvestraadmin/css/sb-admin.css'

        filter='cssrewrite,?yui_css' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css"/>
        {% endstylesheets %}
    {% endblock %}
</head>
<body>

{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="flash-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div class="container">
    {% if error %}
        <div class="alert alert-danger">
            {{ error|trans }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-body">
                    <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                        <fieldset>
                            <div class="form-group">
                                <label for="username">{{ 'security.login.username'|trans }}</label>
                                <input class="form-control" type="text" id="username" name="_username"
                                       value="{{ last_username }}" required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="password">{{ 'security.login.password'|trans }}</label>
                                <input class="form-control" type="password" id="password" name="_password"
                                       required="required"/>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                </label>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" id="_submit" name="_submit"
                                   value="{{ 'security.login.submit'|trans }}"/>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    {% javascripts
    'components/jquery/jquery.min.js'
    '@SilvestraAdminBundle/Resources/public/js/bootstrap.min.js'

    filter='?closure' %}
    <script src='{{ asset_url }}' type='text/javascript'></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>

