<ul class="nav" id="side-menu">
{% for item in menu -%}
    <li>
        <a href="{{ item.uri }}">{% if item.icon is not empty %}<i class="fa fa-{{ item.icon }} fa-fw"></i> {% endif %}{{ item.title }}</a>
        {% if item.children is not empty -%}
        <ul class="nav nav-second-level collapse">
        {% for child in item.children -%}
            <li>
                <a href="{{ child.uri }}">{{ child.title }}</a>
            </li>
        {%- endfor %}
        </ul>
        {%- endif %}
    </li>
{%- endfor %}
</ul>
