{{ form_start(form, {attr: {class: 'form-horizontal'}}) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.code) }}
    {{ form_row(form.position) }}
    {{ form_row(form.uri) }}
    {{ form_row(form.blank) }}
    {{ form_row(form.lang) }}
    {{ form_row(form.publishFrom) }}
    {{ form_row(form.publishTo) }}
    {{ form_row(form.publish) }}
    {{ form_row(form.image) }}

    <div class="form-group">
        {{ form_row(form.submit, {attr: {class: 'pull-left'}}) }}
        <a class="btn btn-default pull-left" href="{{ url('silvestra_banner.banner_list', {zoneId: zone_id}) }}" style="margin-left: 10px;">
            {{ 'form.button.cancel'|trans({}, 'SilvestraBanner') }}
        </a>
    </div>

{{ form_end(form) }}
