{{ form_start(form, {attr: {class: 'form-horizontal'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.code) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.width) }}
    {{ form_row(form.height) }}

    <div class="form-group">
        {{ form_row(form.submit, {attr: {class: 'pull-left'}}) }}
        <a class="btn btn-default pull-left silvestra-banner-cancel" href="{{ path('silvestra_banner.banner_zone_list') }}">
            {{ 'form.button.cancel'|trans({}, 'SilvestraBanner') }}
        </a>
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}
