{% extends 'SilvestraBannerBundle::layout.html.twig' %}

{% trans_default_domain 'SilvestraBanner' %}

{% set page_header = 'title.banner_zone.list'|trans %}

{% block content %}
    <div class="row">
        <a class="btn btn-primary" href="{{ url('silvestra_banner.banner_zone_create') }}">{{ 'button.create'|trans }}</a>
    </div>

    <div class=" silvestra-banner-list">
        {% for banner_zone in banner_zones %}
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" href="{{ url('silvestra_banner.banner_list', {zoneId: banner_zone.id}) }}">
                            <strong>{{ banner_zone.name }}</strong>
                        </a>
                        <span class="pull-right">
                            <strong>{{ 'form.banner_zone.code'|trans }}:</strong> {{ banner_zone.code }}
                            <strong>{{ 'form.banner_zone.width'|trans }}:</strong> {{ banner_zone.width }}
                            <strong>{{ 'form.banner_zone.height'|trans }}:</strong> {{ banner_zone.height }}
                        </span>
                    </div>
                    <div class="panel-body">
                        {% for banner in banner_zone.banners %}
                            <a href="{{ url('silvestra_banner.banner_edit', {bannerId: banner.id}) }}">
                                {{ silvestra_image_html_tag(banner.image.path, [150, 150], null, {class: 'silvestra-banner-image'}) }}
                            </a>
                        {% endfor %}
                    </div>
                    <div class="panel-footer">
                        <a href="{{ url('silvestra_banner.banner_zone_edit', {zoneId: banner_zone.id}) }}">{{ 'button.edit'|trans }}</a>
                        {% if not banner_zone.isSystem %}
                            <a class="silvestra-banner-zone-delete" href="{{ url('silvestra_banner.banner_zone_delete', {zoneId: banner_zone.id}) }}" data-close-button="{{ 'button.close'|trans }}" data-confirm-button="{{ 'button.yes'|trans }}" data-title="{{ 'delete_question.banner_zone'|trans({'%name%': banner_zone.name}) }}" data-error-title="{{ 'an_error_occurred'|trans }}">
                                {{ 'button.delete'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}